<p>
  {{homeTitle}}
</p>
<input [value] = "homeTitle">
<input [required]="myBoolean" >

<button (click)="ConsoleLogMe('I like beef')">Click me</button>
<p>------------------------------------------------------------</p>
<!-- <br /> -->
<h1>Two ways data binding</h1>
<h3>{{person.name}}</h3>
<h3>{{person.age}}</h3>

<input [(ngModel)]="person.name" />
<input [(ngModel)] = "person.age">

<!-- Custom property binding  -->
<p>------------------------------------------------------------</p>
<h1>Custom property Binding</h1>
<!-- Now we have access to kellem from our app component we can use it in home componet, this could be usefull we needing to pass down variables or functions down -->
<!-- Finished -->
<p>{{kellem.name}}</p>
<p>{{kellem.age}}</p>